body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

.box {
  width: 300px;
  height: 300px;
  background-color: #3498db;
  transition: all 0.5s ease;
}
@media (min-width: 1025px) {
  .box {
    width: 300px;
    height: 300px;
    background-color: #3498db;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .box {
    width: 220px;
    height: 220px;
    background-color: #2ecc71;
  }
}
@media (max-width: 767px) {
  .box {
    width: 150px;
    height: 150px;
    background-color: #e74c3c;
  }
}
