body {
    background-color: #eee;
    font-family: Arial;
}

.card {
    background-color: white;
    width: 250px;

    padding: 15px;    
    margin: 50px auto; 

    text-align: center;
}

.name {
    font-size: 20px;
}

.text {
    font-size: 14px;
    color: gray;
}
